@import url(https://fonts.bunny.net/css?family=open-sans:300,300i,400,500,700,800);

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-family: 'Open Sans', sans-serif;
}

[x-cloak] {
    display: none !important;
}



/* Vertical line to the left of the comments */
.comments-container::before {
    position: absolute;
    display: block;
    top: 0;
    left: -40px;
    content: "";
    width: 3px;
    height: 100%;
    background: #e1e4e9;
    /* opacity: .15; */
}

.is-status-update.comment-container:last-child::after {
    left: -41px;
}

/* horizontal line to the left of the comments */
.comment-container::before {
    position: absolute;
    display: block;
    top: 57px;
    content: "";
    width: 23px;
    height: 3px;
    background: #dce0e7;
    left: -40px;
    /* opacity: .15; */
}

.comment-container:last-child::after {
    position: absolute;
    display: block;
    top: 60px;
    left: -40px;
    content: "";
    width: 3px;
    height: calc(100% - 60px);
    background-color: rgb(243 244 246);;

}

.is-status-update::before {
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 38px;
    border: 7px solid white;
    box-shadow: 4px 4px 15px 0 rgba(36, 37, 38, 0.08);
    left: -58px;
    background: rgb(126 34 206);
    opacity: 1;
    z-index: 1;
}

.is-status-update {
    border-width: 1px;
    border-image-source: linear-gradient(266deg, #21c8f6 98%, #637bff -52%);
    background-image: linear-gradient(to bottom, #ffffff, #ffffff), linear-gradient(266deg, #21c8f6 98%, #637bff -52%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.status-open, .status-open:before {
--tw-bg-opacity: 1;
background-color: rgba(229, 229, 229, var(--tw-bg-opacity));
}

.status-considering, .status-considering:before {
--tw-bg-opacity: 1;
background-color: rgba(139, 96, 237, var(--tw-bg-opacity));
--tw-text-opacity: 1;
color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.status-in-progress, .status-in-progress:before {
--tw-bg-opacity: 1;
background-color: rgba(255, 199, 60, var(--tw-bg-opacity));
--tw-text-opacity: 1;
color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.status-implemented, .status-implemented:before {
--tw-bg-opacity: 1;
background-color: rgba(26, 171, 139, var(--tw-bg-opacity));
--tw-text-opacity: 1;
color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.status-closed, .status-closed:before {
--tw-bg-opacity: 1;
background-color: rgba(236, 69, 79, var(--tw-bg-opacity));
--tw-text-opacity: 1;
color: rgba(255, 255, 255, var(--tw-text-opacity));
}


@media (min-width: 768px) {

    .custom-container {
        max-width: 75%;
    }

}

@media (max-width: 768px) {

    .custom-container {
        max-width: 90%;
    }

}